.center {
  width: 325px;
}

.center .logo {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.center .form {
  background: #fff;
  padding: 0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  border: solid 1px #2995dd;
  border-radius: 4px;
  overflow: hidden;
}
