.center {
  width: 325px;
}

.center .logo {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.center .form {
  background: #fff;
  padding: 0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  border: solid 1px #2995dd;
  border-radius: 4px;
  overflow: hidden;
}

.center .form .input {
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  border-left: solid 0 #61cdff;
  border-bottom: solid 1px #ededed;
  transition: border-left-width .2s ease 0;
  outline: none;
  color: #333;
}

.center .form .input:focus {
  border-left-width: 10px;
}

.center .form .button {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: #2E97DE;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  background: #fff;
  border: none;
  cursor: pointer;
  transition: all .2s ease 0;
}

.center .form .button:hover {
  background: #f7f7f7;
}

.center .form .button.error {
  color: #B1100A;
}

.center .form .button.active,
.center .form .button:hover:active {
  background: #f1f1f1;
}
