<% include ../includes/start.ejs %>
<% include ../includes/header.ejs %>
<div class="dashboard">
  <div class="map"></div>
  <div class="workers first">
    <div class="header">Current Workers</div>
    <div class="listing">
      <div class="worker">
        <div class="name">Brian Vallelunga</div>
        <div class="status">Disabled</div>
        <div class="drop">Drop</div>
        <div class="clear"></div>
      </div>
      <div class="worker">
        <div class="name">Brian Vallelunga</div>
        <div class="status available">Available</div>
        <div class="drop">Drop</div>
        <div class="clear"></div>
      </div>
      <div class="worker">
        <div class="name">Brian Vallelunga</div>
        <div class="status">Pending</div>
        <div class="drop">Drop</div>
        <div class="clear"></div>
      </div>
      <div class="worker">
        <div class="name">Brian Vallelunga</div>
        <div class="status working">Working</div>
        <div class="drop">Drop</div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="workers">
    <div class="header">Pending Workers</div>
    <div class="listing">
      <div class="worker">
        <div class="name">Brian Vallelunga</div>
        <div class="status">Disabled</div>
        <div class="drop">Drop</div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% include ../includes/end.ejs %>
