.dashboard {
  background: #fff;
  width: 840px;
  margin: 0 auto 20px auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  border: solid 1px #2995dd;
  border-radius: 4px;
  min-height: 400px;
}

.map {
  width: 100%;
  height: 400px;
  border-radius: 4px 4px 0 0;
  background: #1D73BA;
}

.map .loading {
  width: 100%;
  text-align: center;
  padding-top: 190px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Ubuntu';
  font-size: 28px;
  font-weight: 500;
}

.block {
  width: 50%;
  float: left;
  min-height: 250px;
  box-sizing: border-box;
}

.block.thirds {
  width: 33.33%;
  float: left;
  min-height: 200px;
  box-sizing: border-box;
}

.block.border {
  border-right: solid 1px #ededed;
}

.block.borderLeft {
  border-left: solid 1px #ededed;
}

.block .header {
  width: 100%;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  background: #fafafa;
  border-top: solid 1px #ededed;
  border-bottom: solid 1px #ededed;
}

.block .listing .item {
  padding: 14px 12px;
  border-bottom: solid 1px #f5f5f5;
  color: #333;
  box-sizing: border-box;
}

.block .listing .item.hover,
.block .listing .item:hover {
  background: #fbfbfb;
}

.block .listing .item:last-child {
  border: none;
}

.block .listing .item .name {
  float: left;
  font-weight: bold;
  width: 52.5%;
}

.block .listing .item .name.long {
  width: 65%;
}

.block .listing .item .status {
  float: left;
  width: 26.5%;
  color: #666;
}

.block .listing .item .status.available {
  color: #2E97DE;
}

.block .listing .item .status.working {
  color: #1AAF5E;
}

.block .listing .item .right {
  width: inherit !important;
  float: right !important;
}

.block .listing .item .accept,
.block .listing .item .completed {
  float: left;
  width: 26.5%;
  color: #1AAF5E;
}

.block .listing .item .accept:hover:active {
  color: #179e53;
}

.block .listing .item .drop,
.block .listing .item .decline,
.block .listing .item .cancelled,
.block .listing .item .declined {
  float: left;
  width: 20%;
  color: #B1100A;
}

.block .listing .item .drop:hover,
.block .listing .item .decline:hover,
.block .listing .item .accept:hover {
  text-decoration: underline;
}

.block .listing .item .drop:hover:active,
.block .listing .item .decline:hover:active {
  color: #a6110c;
}
