<header class="header">
  <a class="logo" href="/">EnjoyPnD</a>
  <div class="navigation">
    <a class="link" href="/">Workers</a>
    <a class="link" href="/jobs">Jobs</a>
    <a class="link" href="//github.com/bvallelunga/EnjoyPnD/tree/master/docs" target="_blank">Docs</a>
    <a class="link" href="/logout">Logout</a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</header>
